@import 
  "https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap";

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
  
.overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 100%;
  max-height: 100%;
}

.another-image {
  position: absolute;
  top: 80%; /* 上からの位置を調整 */
  left: 50%;
  transform: translateX(-50%);
  width: 20%; /* 幅を調整 */
  height: auto; /* 高さは自動調整 */
}
