body {
  background-color: #ccc;
}
p {
  font-size: 15px;
  color: #000;
}

.button {
  text-align: center;
}

.slider{
  text-align: center;
}

.output{
  text-align: center;
}

#languageSelect {
  position: fixed;
  top: 10px;
  left: 10px;
}

#startButton{
  font-size: 30px;
  color: #fff;
  background-color: #2ad457;
  border-bottom: 5px solid #2a8c44;
  margin-top: 3px;
  color: #fff;
  background: #4dc93a;
  border-bottom: 2px solid #2a8c44;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

#stopButton{
  font-size: 30px;
  color: #fff;
  background-color: #eb0400;
  border-bottom: 5px solid #b82200;
  margin-top: 3px;
  color: #fff;
  background: #d92323;
  border-bottom: 2px solid #b82200;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
h1{
  text-align:center;
}
/*スライダー*/
input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  cursor: pointer; 
  outline: none; 
  height: 15px; 
  width: 30%; 
  background: #8acdff; 
  border-radius: 10px;
  border: solid 3px #dff1ff;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  background: #53aeff; 
  width: 24px; 
  height: 24px; 
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

input[type="range"]::-moz-range-thumb {
  background: #53aeff;
  width: 24px; 
  height: 24px; 
  border-radius: 50%; 
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: none; 
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}