@import 
  "https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap";

body {
  font-size: 16px;
}

.full {
  width: 100%;
  min-height: 100vh;
  background: url("start.jpg")
    center / cover;
}